@charset "UTF-8";

$screen: 88em;
$padding: 1.5em;
$small-border-y: .5em;
$small-border-x: 1.5em;
$titel-color: #363636;
$debug-top: 0em;
$debug-right: 0em;
$debug-width: 45em;
$debug-width-max: 45em;
$debug-background-color: LightGoldenrodYellow;