@charset "UTF-8";

$screen: 88em;
$padding: 1.5em;
$small-border-y: .5em;
$small-border-x: 1.5em;
$titel-color: #363636;
$debug-top: 0em;
$debug-right: 0em;
$debug-width: 45em;
$debug-width-max: 45em;
$debug-background-color: LightGoldenrodYellow;

/* ----------------------

	DEBUG

-------------------------*/

@media only print {

    div.debug,
    span.debug,
    pre.debug {
        display: none;
        visibility: hidden;
    }

    body.screen {
        width: 100%;
    }
}

@media only screen and (min-width:1400px) {
    :root {
        --screen: #{$screen};
        --padding: #{$padding};
        --small-border-y: #{$small-border-x};
        --small-border-x: #{$small-border-y};
        --debug-top: #{$debug-top};
        --debug-right: #{$debug-right};
        --debug-width: #{$debug-width};
        --debug-width-max: #{$debug-width-max};
        --debug-background-color: #{$debug-background-color};
    }

    body.screen {
        width: VAR(--screen);
    }

    div.debug {
        position: fixed;
        top: VAR(--debug-top);
        right: VAR(--debug-right);
        height: CALC(100% - VAR(--small-border-y));
        width: VAR(--debug-width);
        max-width: VAR(--debug-width-max);
        border: 1px solid #ddd;
        background-color: VAR(--debug-background-color);
        font-size: 0.8rem;
    }

    span.debug,
    pre.debug {
        font-size: 0.7rem;
    }

    form,
    i {
        cursor: pointer;
    }
}